<% include ../partials/top-btn %>
<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="row members-grid">
        <div class="col-lg-3">
            <div class="widget-head-color-box blue-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">Aliyu Aminu</h2>
                    <small>Alaramma, Kaduna</small>
                </div>
                <img src="/img/members/1.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="widget-text-box">
                <h4 class="media-heading">Aliyu Aminu</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget-head-color-box blue-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">Hamza Aminu</h2>
                    <small>Malamin Hadith, Kano</small>
                </div>
                <img src="/img/members/2.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="widget-text-box">
                <h4 class="media-heading">Hamza Aminu</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget-head-color-box blue-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">Aminu Umar</h2>
                    <small>Rijiyar Lemo</small>
                </div>
                <img src="/img/members/4.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="widget-text-box">
                <h4 class="media-heading">Aminu Abdulhamid</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="widget-head-color-box blue-bg p-lg text-center">
                <div class="m-b-md">
                    <h2 class="font-bold no-margins">Auwal Aminu</h2>
                    <small>Dan Agaji</small>
                </div>
                <img src="/img/members/3.png" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="widget-text-box">
                <h4 class="media-heading">Auwal Aminu</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>

<script>
    let script  = document.createElement('script');
    script.type = 'application/javascript';
    script.src  = '/js/members.js';
    document.body.appendChild(script);
</script>