<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element"> 
					<span><img alt="image" class="img-circle" src="/img/avatar.png" /></span>
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<span class="clear"> 
							<span class="block m-t-xs"><strong class="font-bold">JIBWIS Nigeria</strong></span> 
							<span class="text-muted text-xs block">Administrator <b class="caret"></b></span> 
						</span> 
					</a>
					<ul class="dropdown-menu animated fadeInRight m-t-xs">
						<li><a href="/profile">Profile</a></li>
						<li class="divider"></li>
						<li><a href="/users/logout">Logout</a></li>
					</ul>
				</div>
				<div class="logo-element">IZALA</div>
			</li>
			<li class="nav-btn" data-title="Home">
				<a href="/"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
			</li>
			<li class="nav-btn" data-title="Members">
				<a href="/members"><i class="fa fa-users"></i> <span class="nav-label">Members</span></a>
			</li>
			<li class="nav-btn" data-title="Masjids">
				<a href="/masjids"><i class="fa fa-leaf"></i> <span class="nav-label">Masjids</span></a>
			</li>
			<li class="nav-btn" data-title="Schools">
				<a href="/schools"><i class="fa fa-university"></i> <span class="nav-label">Schools</span></a>
			</li>
		</ul>
	</div>
</nav>