<div class="row statistic">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Active</span>
                <h5>Members </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins text-success">40,886,200</h1>
                <div class="stat-percent font-bold text-success"><i class="fa fa-level-up"></i></div>
                <small>Total Active</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-danger pull-right">Deceased</span>
                <h5>Members </h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">275,800</h1>
                <div class="stat-percent font-bold text-danger"><i class="fa fa-level-down"></i></div>
                <small>Total Deceased</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Active</span>
                <h5>Masjids</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins text-navy">106,120</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-check"></i></div>
                <small>Total Masjids</small>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-primary pull-right">Active</span>
                <h5>Schoools</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins text-navy">80,600</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-check"></i></div>
                <small>Total Schools</small>
            </div>
        </div>
    </div>
</div>